@use "../utils" as *;
@use "../global" as *;

.flex_col {
  display: flex;
  flex-direction: column;
  gap: 1px 0;
  background-color: rgb(255 241 122);
   
}


.flex_row {
  display: flex;
  justify-content: space-between;
  margin: 10rem 4.5rem 3rem 4.5rem;
  gap: 0 20px;

  @include md{
    flex-direction: column;
    margin-left: 20%;
    gap: 100px 0;
  }

  @include tn {
    margin: 50px 0 50px 3.41%;
  }
}


.flex_col1 {
  display: flex;
  flex-direction: row;
  width: 371px;

  @include lg {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}


.image4 {
  width: 80px;
  height: 100px;

  @include lg{
    width: 60px;
  }

  @include md{
    width: 80px;
  }

}


.flex_col_rows p{
  padding: 0 0 10px 30px;
}


.highlight5 {
  font: 900 1.5rem "Poppins";
  color:black;

  @include lg{
    font-size: 1.2rem;
  }

  @include md{
    font-size: 1.5rem;
  }

}


.highlight4 {
  font: 400 1rem/1.6 "Poppins";
  color: black;

  @include lg{
    font-size: 0.9rem;
  }

  @include md{
    font-size: 1rem;
  }

}


.flex_col2 {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin-top: 5px;
  background-color: rgb(255 241 122);

  @include lg {
    margin: 0;
    width: 100%;
    min-width: unset;
  }
}


.flex_col4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
  margin: 100px 30px 80px 30px;

  @include lg{
    width: 50%;
    margin-left: 25%;
  }

  @include xs {
    margin: 80px 15px 80px 16px;
  }

  @include tn {
    margin: 50px 8px;
  }
}

.medium_title3 {
  display: flex;
  justify-content: center;
  font: 700 25px/1.52 "Poppins";
  color:black;
  text-align: center;

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.flex_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;

  @include lg {
    flex-direction: row;
    justify-content: center;
  }

  @include md{
    flex-direction: column;
    align-items: center ;
    gap: 20px 0;
  }
}

.content_box4 {
  display: flex;
  flex-direction: column;
  margin: 2px 0 0;
  width: 322px;
  background-color: #E2F1E7;
  border-radius: 6px;

  @include lg {
    width: 50%;
    padding: 20px 40px 0 40px;
  }

  @include md{
    width: 70%;
  }

}

.flex_col5 {
  display: flex;
  flex-direction: column;
  margin: 42px 0 27px 20px;
  width: 200px;

  @include lg {
    margin: 42px 0 27px 0;
  }
}

.image6 {
  margin: 0 0 0 7px;
  width: 45px;
  object-fit: cover;
  color: black;
}

.flex_col6 {
  display: flex;
  flex-direction: column;
  margin: 26px 8px 0 7px;
}

.medium_title1 {
  font: 700 25px/1.52 "Poppins";
  color: rgb(40 40 40);

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.group1 {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include lg {
    top: 0;
  }
}


.group2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include tn {
    margin: 50px 0 0;
  }
}


.group3 {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include lg {
    top: 0;
  }
}


.group4 {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include lg {
    top: 0;
  }
}

.flex_row2 {
  position: relative;
  display: flex;
  gap: 0 14px;

  @include tn {
    column-gap: 8px;
  }
}

.image7 {
  margin: 0 0 3px;
  width: 44px;
  object-fit: cover;
}

.highlight8 {
  margin: 23px 0 0;
  font: 400 15px/1.6 "Poppins";
  color: rgb(128 128 128);
}

.highlight7 {
  position: absolute;
  bottom: 1;
  top: 4px;
  left: 59px;
  height: 24px;
  font: 600 15px/1.6 "Poppins";
  color: rgb(0, 0, 0);
}

