@use "../utils" as *;
@use "../global" as *;

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;

  .carouselItem {
    width: 100%; 
    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .carouselPrev,
  .carouselNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(65, 10, 96);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 2;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: rgb(85, 30, 116);
    }
  }

  .carouselPrev {
    left: 10px;
  }

  .carouselNext {
    right: 10px;
  }


  //Responsive k liye button ka Adjustment 
  @include sm {
    .carouselPrev, .carouselNext {
      padding: 8px;
      font-size: 12px;
    }
  }

  @include xs {
    .carouselPrev, .carouselNext {
      padding: 6px;
      font-size: 10px;
    }
  }
}

.flex_col {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; 
  padding: 0 15px;

  .btn {
    margin-top: 20px;
  }
}
