@use "../utils" as *;
@use "../global" as *;

.section4 {
  display: flex;
  flex-direction: column;
}

.content_box9 {
  display: flex;
  flex-direction: column;
  margin: 0 3px 0 0;
  max-width: 1437px;
  background-color: rgb(255 255 255);
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);
}

.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px 0;
  margin: 97px auto 87px;
  width: 91.44%;

  @include xs {
    margin: 80px auto;
  }

  @include tn {
    gap: 50px 0;
    margin: 50px auto;
  }
}

.medium_title1 {
  display: flex;
  justify-content: center;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(40 40 40);
  text-align: center;

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.flex_row {
  display: flex;
  gap: 0 19px;
  width: 100%;

  @include lg {
    flex-direction: column;
    align-items: center;
    gap: 30px 19px;
  }
}

.content_box8 {
  display: flex;
  flex-direction: column;
  width: 425px;
  min-width: 0;
  background-color: rgb(255 241 122);
  border-radius: 32px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);

  @include lg {
    width: 100%;
    min-width: unset;
  }
}

.flex_row1 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 39px 27px 28px 24px;

  @include xs {
    margin: 39px 16px 28px;
  }

  @include tn {
    column-gap: 8px;
    margin: 39px 8px 28px;
  }
}

.flex_col1 {
  display: flex;
  flex-direction: column;
  width: 218px;
  min-width: 0;
}

.medium_title4 {
  margin: 0 0 0 9px;
  width: 148px;
  max-width: 85%;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(39 35 41);

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }

  @include tn {
    margin: 0 0 0 8px;
  }
}

.flex_row2 {
  display: flex;
  gap: 0 8px;
  margin: 33px 0 0 8px;
}

.flex_col2 {
  display: flex;
  flex-direction: column;
  margin: 2px 0 1px;
  width: 24px;
}

.image12 {
  width: 24px;
  object-fit: cover;
}

.image121 {
  margin: 6px 0 0;
  width: 24px;
  object-fit: cover;
}

.image14 {
  margin: 7px 0 0;
  width: 24px;
  border-radius: 12px;
  outline: 1px solid rgb(63 57 67);
  outline-offset: -1px;
  object-fit: cover;
}

.flex_col3 {
  display: flex;
  flex-direction: column;
  width: 178px;
  min-width: 0;
}

.highlight10 {
  margin: 0 23px 0 0;
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(72 66 77);

  @include xs {
    margin: 0 16px 0 0;
  }

  @include tn {
    margin: 0 8px 0 0;
  }
}

.highlight11 {
  margin: 6px 23px 0 0;
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(95 86 101);
  letter-spacing: -0.1px;

  @include xs {
    margin: 6px 16px 0 0;
  }

  @include tn {
    margin: 6px 8px 0 0;
  }
}

.highlight101 {
  margin: 4px 0 0;
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(72 66 77);
}

.btn {
  display: flex;
  justify-content: center;
  margin: 51px 0 0;
  width: 79.82%;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(244 225 224);
  border-radius: 10px;
  padding: 14.5px 38px;
  letter-spacing: -0.1px;
}

.image13 {
  margin: 0 0 263px;
  width: 38px;
  object-fit: cover;

  @include md {
    margin: 0 0 150px;
  }

  @include xs {
    margin: 0 0 80px;
  }

  @include tn {
    margin: 0 0 50px;
  }
}

.content_box7 {
  display: flex;
  flex-direction: column;
  width: 425px;
  min-width: 0;
  background-color: rgb(255 241 122);
  border-radius: 34px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);

  @include lg {
    width: 100%;
    min-width: unset;
  }
}

.flex_row3 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 39px 27px 28px 25px;

  @include xs {
    margin: 39px 16px 28px;
  }

  @include tn {
    column-gap: 8px;
    margin: 39px 8px 28px;
  }
}

.flex_col4 {
  display: flex;
  flex-direction: column;
  width: 279px;
  min-width: 0;
}

.medium_title41 {
  margin: 0 0 0 8px;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(39 35 41);

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.flex_row4 {
  display: flex;
  gap: 0 7px;
  margin: 33px 4px 0;
}

.flex_col5 {
  display: flex;
  flex-direction: column;
  margin: 2px 0 4px;
  width: 28px;
}

.image122 {
  margin: 0 0 0 4px;
  width: 24px;
  object-fit: cover;
}

.image123 {
  margin: 7px 0 0 4px;
  width: 24px;
  object-fit: cover;
}

.image16 {
  margin: 3px 2px 0 0;
  width: 26px;
  border-radius: 4px;
  object-fit: cover;
}

.flex_col6 {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  width: 218px;
  min-width: 0;
}

.highlight102 {
  width: 175.984375px;
  max-width: 85%;
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(72 66 77);
}

.highlight13 {
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(63 57 67);
  letter-spacing: -0.1px;
}

.btn1 {
  display: flex;
  justify-content: center;
  margin: 49px 0 0;
  width: 157px;
  max-width: 100%;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
  background-color: rgb(244 225 224);
  border-radius: 10px;
  padding: 14.5px 18px;
  letter-spacing: -0.1px;
}

.image10 {
  margin: 2px 0 267px;
  width: 32px;
  object-fit: cover;

  @include md {
    margin: 2px 0 150px;
  }

  @include xs {
    margin: 2px 0 80px;
  }

  @include tn {
    margin: 2px 0 50px;
  }
}

.content_box6 {
  display: flex;
  flex-direction: column;
  width: 426px;
  min-width: 0;
  background-color: rgb(255 241 122);
  border-radius: 32px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);

  @include lg {
    width: 100%;
    min-width: unset;
  }
}

.flex_row5 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 44px 38px 28px 24px;

  @include md {
    margin: 44px 32px 28px 24px;
  }

  @include xs {
    margin: 44px 16px 28px;
  }

  @include tn {
    column-gap: 8px;
    margin: 44px 8px 28px;
  }
}

.flex_col7 {
  display: flex;
  flex-direction: column;
  width: 242px;
  min-width: 0;
}

.medium_title42 {
  margin: 0 8px;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(39 35 41);

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.flex_row6 {
  display: flex;
  gap: 0 6px;
  margin: 66px 0 0 9px;

  @include tn {
    margin: 50px 0 0 8px;
  }
}

.flex_col8 {
  display: flex;
  flex-direction: column;
  gap: 3px 0;
  width: 24px;
}

.image11 {
  margin: 0 2px 0 0;
  width: 22px;
  border-radius: 4px;
  object-fit: cover;
}

.highlight103 {
  width: 203px;
  font: 400 16px/1.62 Inter, Helvetica, Arial, serif;
  color: rgb(72 66 77);
}

.btn2 {
  display: flex;
  justify-content: center;
  margin: 61px 0 0;
  width: 71.49%;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(244 225 224);
  border-radius: 10px;
  padding: 14.5px 8px;
}

.image101 {
  margin: 10px 0 254px;
  width: 32px;
  object-fit: cover;

  @include md {
    margin: 10px 0 150px;
  }

  @include xs {
    margin: 10px 0 80px;
  }

  @include tn {
    margin: 10px 0 50px;
  }
}
