@use "utils" as *;
@use "global" as *;

.flex_col1 {
  border-top: 2px solid lightgray;
  padding: 30px 0;
  margin: 60px 200px 60px 50px;

  @include lg{
    margin-right: 80px;
  }

  @include xs {
    margin: 52px 0 80px 3.57%;
  }

  @include tn {
    margin: 50px 0 50px 3.57%;
  }
}

.flex_row {
  display: flex;
  justify-content: space-between;

  @include tn {
    column-gap: 8px;
  }
}

.highlight15 {
  margin: 0 0 1px;
  font: 900 1.5rem/1.9 "Poppins";
  color: rgb(48 48 48);
}

.highlight16 {
  margin: 13px 0 5px 0;
  font: 700 1.2rem "Poppins";
  color: rgb(48 48 48);

  @include md{
    font-size: 1rem;
  }
}


.flex_row1 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  

  @include tn {
    column-gap: 8px;
  }
}

.highlight14 {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  padding: 4px 0 4px 0;
  font: 1.1rem "Poppins";
  color: rgb(107 107 107);

  @include md{
    font-size: 0.9rem;
  }

}


.flex_row3 {
  display: flex;
  gap: 0 20px;
  
  @include xs {
    column-gap: 16px;
    margin: 80px 0 0;
  }

  @include tn {
    column-gap: 8px;
    margin: 50px 0 0;
  }
}

.image19 {
  width: 25px;
  border-radius: 4px;
  object-fit: cover;
}

.image20 {
  margin: 2px 0 0;
  width: 26px;
  border-radius: 4px;
  object-fit: cover;
}
