@use "utils.scss" as *;
@use "global" as *;

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #F3F4F6;
}

.content_box11 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 49px auto 0;
  width: 100%;
  
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  filter: drop-shadow(0 0 1px rgb(23 26 31 / 7%));
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color3 {
  position: relative;
  min-height: 70px;
  width: 100%;
  background-color: rgb(0 0 0);
}

.image {
  position: absolute;
  top: 10px;
  left: 0.7%;
  width: 70px;

  @include md {
    width: 60px;
  }

  @include sm {
    width: 50px;
  }
}

.text {
  position: absolute;
  top: 25px;
  left: 31%;
  width: 39px;
  
  height: 22px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);

  /**@include lg {
    left: 50%;
    transform: translateX(-50%);
  }

  @include md {
    left: 50%;
    transform: translateX(-50%);
  }

  @include sm {
    left: 50%;
    transform: translateX(-50%);
  }**/
}

.text1 {
  position: absolute;
  top: 25px;
  left: 45%;
  width: 66px;
  
  height: 22px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);

  @include xs {
    font-size: 8px;
  }

  @include xxs {
    font-size: 6px;
  }

  @include tn {
    font-size: 4px;
  }
}

.text2 {
  position: absolute;
  top: 25px;
  left: 61%;
  display: flex;
  // justify-content: center;
  width: 65px;
  
  height: 22px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;

  @include xs {
    font-size: 8px;
  }

  @include xxs {
    font-size: 6px;
  }

  @include tn {
    font-size: 4px;
  }
}

.btn {
  position: absolute;
  top: 13px;
  left: 79%;
  display: flex;
  justify-content: center;
  width: 93px;
  height: 49px;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(30 144 255);
  border-radius: 12px;
  padding: 12.5px 18px;


  @include xs {
    font-size: 8px;
  }

  @include xxs {
    font-size: 6px;
  }

  @include tn {
    font-size: 4px;
  }

}

.btn1 {
  position: absolute;
  top: 13px;
  left: 86%;
  display: flex;
  justify-content: center;
  width: 129px;
  height: 49px;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(244 225 224);
  border-radius: 10px;
  padding: 12.5px 2px;
  letter-spacing: -0.1px;

  @include xs {
    font-size: 8px;
  }

  @include xxs {
    font-size: 6px;
  }

  @include tn {
    font-size: 4px;
  }
}

.medium_title {
  position: absolute;
  top: 18px;
  left: 6%;
  width: 248px;
  
  height: 38px;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(255 255 255);

 /*  @include lg {
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
  }

  @include md {
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
  }

  @include sm {
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  } */

  @include xs {
    font-size: 18px;
  }

  @include xxs {
    font-size: 16px;
  }

  @include tn {
    font-size: 14px;
  }
}

.color5 {
  position: absolute;
  top: 59px;
  left: 405px;
  display: none;
  width: 120px;
  height: 52px;
  background-color: rgb(0 0 0 / 0%);
  border-radius: 4px;
}

.color4 {
  position: absolute;
  top: 59px;
  left: 605px;
  display: none;
  width: 142px;
  height: 52px;
  min-height: 52px;
}

.group1 {
  position: absolute;
  top: 0;
  bottom: 74px;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
 
  transform: translateX(-50%);
}

.color1 {
  position: relative;
  min-height: 49px;
  background-color: rgb(30 144 255);
  outline: 1px solid rgb(0 0 0);
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);
}

.highlight {
  position: absolute;
  top: 14px;
  left: 45%;
  width: 205px;
  height: 24px;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(34 3 52);
  letter-spacing: -0.1px;

  @include lg {
    left: 50%;
    transform: translateX(-50%);
  }

  @include md {
    left: 50%;
    transform: translateX(-50%);
  }

  @include sm {
    left: 50%;
    transform: translateX(-50%);
  }
}
