@use "./utils" as *;
@use "./global" as *;

.yellow_box {
    background-color: rgb(255 241 122);
    box-shadow: 4px 4px 15px rgb(190, 190, 190);
    border-radius: 10px;
    margin: 3% 4% auto;
    flex-direction: column;
    width: auto;
  }
  .title{
    margin-bottom: 40px;
    justify-content: center;
    font-size: 1.8rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .content{
    padding-left: 2%;
    width: auto;
  }
  .blog_card {
    background-color: #fff;
    gap: 30px 0;
    padding: 60px;
    margin-bottom: 2%;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  }
  