@use "../utils" as *;
@use "../global" as *;

.yellow_box {
    background-color: #E2F1E7;
    border-radius: 10px;
    margin: 3% 4% auto;
    flex-direction: column;
    /* Add more styles as needed */
    width: auto;
  }
  .title{
    justify-content: center;
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    
  }

  .content{
    padding-left: 4%;
    padding-bottom: 20px;
    width: auto;
  }
  .blog_card {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }


  .clamp_two_lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
  }