@use "../utils" as *;
@use "../global" as *;

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.content_box1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(30 144 255);
  outline: 1px solid rgb(0 0 0);
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);
}

.highlight {
  margin: 14px 0 11px 39.86%;
  width: 205px;
  max-width: 85%;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(34 3 52);
  letter-spacing: -0.1px;

  @include lg {
    margin: 14px auto 11px;
  }
}

.content_box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  filter: drop-shadow(0 0 1px rgb(23 26 31 / 7%));
}

.color {
  position: absolute;
  top: -49px;
  left: 50%;
  width: 1458px;
  height: 123px;
  outline: 1px solid rgb(0 0 0);
  transform: translate(-50%, 0);
}

.content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(0 0 0);
}

.flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 10px 0 6px 10px;
  width: 94.72%;

  @include tn {
    column-gap: 8px;
    margin: 10px auto 6px;
  }
}

.image {
  width: 70px;
  object-fit: contain;
}

.medium_title {
  margin: 8px 0 12px;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(255 255 255);

  @include md {
    display: none;
    align-items: flex-start;
    font-size: 24px;
  }
}

.text {
  margin: 15px 0 21px;
  width: 39px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);

  @include xs {
    display: none;
  }
}

.text1 {
  margin: 15px 0 21px;
  width: 66px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);

  @include xs {
    display: none;
  }
}

.text2 {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px;
  width: 142px;
  min-width: 0;
  background-color: rgb(0 0 0 / 0%);
  border-radius: 4px;

  @include xxs {
    display: none;
  }
}

.text3 {
  display: flex;
  justify-content: center;
  margin: 15px 39px 15px 38px;
  font: 700 14px/1.57 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;

  @include md {
    margin: 15px 32px;
  }

  @include xs {
    margin: 15px auto;
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin: 3px 0 6px;
  min-width: 93px;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(30 144 255);
  border-radius: 12px;
  padding: 12.5px 18px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;

  @include tn {
    display: none;
  }
}

.btn1 {
  display: flex;
  justify-content: center;
  margin: 3px 0 6px;
  min-width: 129px;
  font: 400 15px/1.6 Inter, Helvetica, Arial, serif;
  color: rgb(3 3 3);
  text-align: center;
  background-color: rgb(244 225 224);
  border-radius: 10px;
  padding: 12.5px 2px;
  letter-spacing: -0.1px;
}

.color5 {
  position: absolute;
  inset: 59px 915px 12px 405px;
  width: 120px;
  height: 52px;
  background-color: rgb(0 0 0 / 0%);
  border-radius: 4px;
}

.color4 {
  position: absolute;
  inset: 59px 693px 12px 605px;
  width: 142px;
  height: 52px;
  background-color: rgb(0 0 0 / 0%);
  border-radius: 4px;
}
