@use "../utils" as *;
@use "../global" as *;

.section2 {
  display: flex;
  flex-direction: column;
  margin: 10rem 9rem;
  background-color: #E2F1E7;
  border-radius: 32px;
  box-shadow: 4px 4px 15px rgb(190, 190, 190);
  padding-bottom: 40px;
}

.flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 34px 23px 0 auto;
  width: 640px;

  @include xs {
    margin: 34px 16px 80px auto;
  }

  @include tn {
    column-gap: 8px;
    margin: 34px 8px 50px auto;
  }
}

.medium_title2 {
  margin-top: 10px;
  font: 700 25px/1.52 "Poppins";
  color: rgb(39 35 41);

  @include lg{
    margin-left: 30%;
  }

  @include md {
    margin-left: 45%;
  
  }

  @include xxs {
    font-size: 20px;
  }
}

.image4 {
  width: 93px;
}
