@use "../utils" as *;
@use "../global" as *;

.section2 {
  display: flex;
  flex-direction: column;
}

.section21 {
  display: flex;
  flex-direction: column;
  margin: 205px auto 622px;
  width: 87.57%;
  max-width: 1261px;
  background-color: rgb(255 241 122);
  border-radius: 32px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
  box-shadow: 0 0 1px 0 rgb(23 26 31 / 7%);

  @include md {
    margin: 150px auto;
  }

  @include xs {
    margin: 80px auto;
  }

  @include tn {
    margin: 50px auto;
  }
}

.flex_row {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 34px 23px 1291px auto;
  width: 640px;
  max-width: 85%;

  @include md {
    margin: 34px 23px 150px auto;
  }

  @include xs {
    margin: 34px 16px 80px auto;
  }

  @include tn {
    column-gap: 8px;
    margin: 34px 8px 50px auto;
  }
}

.medium_title2 {
  margin: 10px 0 48px;
  font: 700 25px/1.52 Epilogue, Helvetica, Arial, serif;
  color: rgb(39 35 41);

  @include md {
    align-items: flex-start;
    font-size: 24px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.image4 {
  width: 93px;
  min-width: 0;
  object-fit: cover;
}
