@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(227, 227, 227);
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 1rem;
}