@use "../utils" as *;
@use "../global" as *;



.medium_title {
  font: 700 24px/1.33 "Poppins";
  color: #1F2937;
}


.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 50px 0;
  margin: 50px 50px 35px 50px;

  @include lg{
    margin-top: 100px;
    
  }

  @include xs {
    margin: 0 16px 35px;
  }

  @include tn {
    gap: 50px 0;
    margin: 0 8px 35px;
  }
}

.flex_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;

  @include lg {
    flex-direction: row;
    justify-content: center;
    width: 50%;
  }

  @include md{
    flex-direction: column;
    align-items: center ;
    gap: 20px 0;
  }
}

.content_box4 {
  display: flex;
  flex-direction: column;
  margin: 2px 0 0;
  width: 322px;
  background-color: rgb(255 241 122);
  border-radius: 6px;

  @include lg {
    width: 50%;
    padding: 20px 40px 0 40px;
  }

  @include md{
    width: 70%;
  }

}

.flex_col5 {
  display: flex;
  flex-direction: column;
  margin: 42px 0 27px 20px;
  width: 200px;

  @include lg {
    margin: 42px 0 27px 0;
  }
}

.image6 {
  margin: 0 0 0 7px;
  width: 45px;
  object-fit: cover;
}

.flex_col6 {
  display: flex;
  flex-direction: column;
  margin: 26px 8px 0 7px;
}

.medium_title1 {
  font: 700 18px/1.52 "Poppins";
  color: black;

  @include md {
    align-items: flex-start;
    font-size: 17px;
  }

  @include xxs {
    font-size: 13px;
  }
}

.group1 {
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0 ;
  @include lg {
    top: 0;
  }
}


.group2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 67px 0 5px;
  
  @include tn {
    margin: 50px 0 0;
  }
}


.group3 {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include lg {
    top: 0;
  }
}


.group4 {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  margin: 67px 0 0;
  @include lg {
    top: 0;
  }
}

.flex_row2 {
  position: relative;
  display: flex;
  gap: 0 14px;

  @include tn {
    column-gap: 8px;
  }
}

.image7 {
  margin: 0 0 3px;
  width: 44px;
  object-fit: cover;
}

.highlight8 {
  margin: 23px 0 0;
  font: 400 15px/1.6 "Poppins";
  color: black;
}

.highlight7 {
  position: absolute;
  bottom: 1;
  top: 4px;
  left: 59px;
  height: 24px;
  font: 600 15px/1.6 "Poppins";
  color: black;
}



.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  width: 368px;
  font: 700 15px/1.6 "Poppins";
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #243642;
  border-radius: 12px;
  padding: 12.5px 8px;

  @include lg{
    margin-left: 0;
  }

}
